<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
    <!-- Général -->
    <category label="Général">
        <setting label="Injecter vos comptes" type="lsep" />
        <setting id="numAnotepad0" label="Numéro Anotepad" type="text" values="" default="xxxxxx" />
        </category>
    
</settings>
