<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
    <!-- Général -->
    <category label="Général">
        <setting label="Injecter Apikey Alldebrid" type="lsep" />
        <setting id="numAnotepad" label="Numéro Anotepad" type="text" values="" default="xxxxxx" />
	<setting label="Injecter Token 1fichier" type="lsep" />
        <setting id="numAnotepad1" label="Numéro Anotepad" type="text" values="" default="xxxxxx" />
        </category>
    
</settings>
